body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(240, 240, 240);
    background-color: rgb(58, 58, 58);
}
h1{
    padding-left: 1rem;
    height: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#wrapper{
    /* height: 100%; */
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ========= toolbox ========= */
.toolbox{
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    background-color: rgb(180, 180, 180);
}
.toolbox img{
    padding-left: 0.8rem;
    height: 2.5rem;
    width: 2.5rem;
    transition-duration: 0.3s;
    transition-timing-function:ease;
}
.toolbox img:hover{
    cursor: pointer;
    transform:scale(1.2,1.2);
    transition-duration: 0.3s;
    transition-timing-function:ease;
}
.toolbox .right{
    float: right;
    padding-right: 1rem;
}
.toolbox .option{
    display: none;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    border-radius: 0.3rem;
    text-align: center;
    background-color: rgb(0, 104, 145);
}
.toolbox label{
    padding-right: 1rem;
}
.toolbox .size{
    display: inline-block;
    height: 0.5rem;
    width: 8rem;
}
.toolbox .font-size{
    width: 2rem;
    margin-bottom: 1rem;
}
.toolbox #font-family{
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: black;
    width: 3rem;
}
.toolbox .content{
    width: 11rem;
}

.toolbox #picture-src{
    color: black;
    background-color: aliceblue;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 
canvas{
    height: 100%;
    width: 100%;
    background-color: white;
}